
/*
body.page-template-page-kwakushop (background #dedede)
    #site.fullwidth
        #page.thepage
            .page-canvas    (background: #F0F0F0;)
                #header.container-group
                    #kwakushop-header.container.kwakushop-header
                        #branding.container.section-branding
                        #nav.container.section-nav

                #page-main.container-group (background: #ffffff;)
                    #content.container
                        #column-wrap
                            #column-main

            #footer.container-group

*/


.page-template-page-kwakushop,
.jigoshop {
    background-color: #DEDEDE;
 
    .page-canvas {
        background: #F0F0F0;
    }

    #header.container-group {
        background: #ffffff;

        .container {
            
        }

        .main_nav {
            border-top: 1px $color-primary solid;
            margin: 0;
            padding-top: 1em;
        }
        
    }

    #secondnav {
        background-color: #f0f0f0;
        border-top: 1px $color-primary solid;
        padding: 0;
    
        .section-nav {
            margin: 0 1em;
        }
            
        .secondnav_menu {
            border-bottom: 1px $color-primary solid;
            padding: 0 0 1em 0;

            .menu-item {
                line-height: 1;
                padding-top: .5em;
                height: auto;
                display: inline;

                a:link {
                    padding: .5em .5em .5em 0;
                    //margin: 0;

                    &:hover {
                        text-decoration: underline;
                    }

                }
            }
   
        }
    }

    #page-main.container-group {
        //@include debug(green);
        
        margin: 0 1em;

        .content-pad {
            padding: 0;
        

            #column-main.mcolumn .mcolumn-pad {
                padding: 0;
            }
        }
    }

}

.jigoshop #content, 
.kwakushop #content {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0;
}

    

 /* ! -KWAKUSHOP - JIGOSHOP  @600 --------------------- */

            
        
        
            /*  ! --JIGOSHOP PRODUCTS */
            .products li a img {
                  max-height: 388px;
                  min-height: 388px;
             }
            
            /*  ! --JIGOSHOP SINGLE PRODUCT */ 
            div.product div.summary {
                width: 30%;
                margin-bottom: 0px; 
                margin-right: 0px;
                float: left;
            }
                
    /*
.jigoshop #page-main,
        .page-template-page-kwakushop-php #page-main {
            background-color: transparent;,
            padding-top: 23px;
            padding-top: 1.4rem;
        }
*/
        
        // .jigoshop #page-main,
        // .page-template-page-kwakushop-php #page-main {
        //     background-color:transparent;
        //     padding-top: 10px;
        //     padding-top: .625rem;
        //     border-top: 1px solid $color-primary;
        // }
        .jigoshop.jigoshop-myaccount #page-main,
        .jigoshop.jigoshop-cart #page-main,
        .jigoshop.jigoshop-tracker #page-main,
        .jigoshop.jigoshop-thanks #page-main {
            //margin-top: 1em;
        }

        .jigoshop #footer .content,
        .kwakushop #footer .content {
            border: none;
            margin: 20px auto;
            padding: 8px 0 0;
        }

