/* 	Product Specific Styles	 */

/*  ! --JIGOSHOP PAGE : PRODUCTS --------------------------------------------*/

    /*
    .products li {
        outline: 1px solid fuchsia;
        float: left;
        height: 504px;
        margin: 0 8px 8px 0;
        padding-bottom: 8px;
        width: 483px;
        
    }
    */

    .archive h1 + p {
        position: absolute;
       visibility: hidden;
    }
                        
    .products ul,
    ul.products {
      margin: 0 !important;
      padding: 0 !important;
      list-style: none;
      float: left;
    }
    
    .products {
      clear: both;
    }
    
    .products li {
      background-color: #fff;
      float: left;
      height: 503px;
      margin: 0 8px 8px 0;
      max-height: 100%;
      max-width:100%;
      padding: 0 0 18px 0!important;
      position: relative;
      /* text-align: center; */
      width: 486px;
    }
    
    .products li.last,
    .products li:nth-child(2n+2) {
        margin-right: 0;
    }

    .products li a {
      text-decoration: none;
    }
    
    
     
    .products li a img {
      /* width: 100% !important; */
      border: none;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      display: block;
      height: auto !important;
      margin: 0 auto !important;
      /* max-height: 388px; */
      /* min-height: 388px; */
      overflow: hidden;
    }
                        
    .products li a:hover img {
      border: none;
      box-shadow: none;
    }
    
    .products .meta {
        color: $color-primary;
        display: block;
        padding: 0 15px;
        margin-top: 18px;
        font-size: 0.77rem;
        line-height: 1.25;
    }
    
    .jigoshop .products li a h3, 
     h1.product_title {
        color: $color-primary;
        font-size: 1em;
        font-weight: normal;
     }
     
    .products .meta h3,
    .products .meta a,
    .products .meta p,
    .products .meta .price {
        color: $color-primary;
        font-size: 1em;
        font-size: .77rem;
        line-height: 1.2;
        margin-left: 0;
        padding: 0;
        
    }
    
    .products .meta p {
        clear:both;
        color: $color-primary;
        margin-top: 0;
        margin-bottom: 8px;
     }
     
     .products .product .category-price-section a,
     .products .product .category-price-section span {
         display: inline;
     }
     
     

    
     #breadcrumb {
        display: none;
        visibility: hidden;
     }
     
     .jigoshop_message {
        margin-bottom: 20px;
        margin-bottom: 1.25rem;
     }


/*  ! --JIGOSHOP PAGE : SINGLE PRODUCT ------------------------------------*/
             
            
    /* structure */
    div.product div.images {
        width: 67%;
        max-width: 650px;
        margin-right: 20px;
        margin-bottom: -8px;/*covers the 8px margin for images*/
        float: left;
    }
    
    .product .summary .product_meta {
        font-size: smaller;
    }
    
    
    div.product div.images img {
        background: rgba(255, 255, 255, 0);
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
        border: 1px solid rgba(255, 255, 255, 0);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        
        margin-bottom: 8px;
        padding: 0;
    }
    div.product div.images div.thumbnails a img {
        padding: 0px;
    }
    div.product div.images div.thumbnails a {
        margin-right: 10px;
        margin-bottom: 0px;
        float: left;
    }
    div.product div.images div.thumbnails {
        padding-top: 0px;
        overflow: hidden;
        zoom: 1;
    }
    
    
    div.product div.summary h1,
    div.product div.summary h2,
    div.product .panel h2 {
        margin: 0;
    }
    
    div.product div.summary h1,
    div.product div.summary p.category-price-section {
        color: $color-primary;
    }
    .jigoshop div.summary p {
        margin-top: 0;
    }
    .jigoshop div.summary p.category-price-section {
        margin-bottom: 2px;
    }
    .jigoshop .product-specs {
        color: $color-primary;
    }
    
    div.product p.stock,
    div.product p.single-product-price {
        //color: #fd9f29;
        font-size: .92em;
        line-height: 1;
        
    }
    
    div.product p.stock {
        margin: 0;
        padding: 0;
    }
    
    div.product .panel {
        background-color: #fff;
    }
    
    div.product .panel h2{
        background-color: #fff;
    }

      @media screen and (min-width: 960px) {     
            /*  ! --JIGOSHOP PRODUCTS */
            .products li a img {
                  max-height: 388px;
                  min-height: 388px;
             }
            
            /*  ! --JIGOSHOP SINGLE PRODUCT */ 
            div.product div.summary {
                width: 30%;
                margin-bottom: 0px; 
                margin-right: 0px;
                float: left;
            }
        }
                        
                /* ! --JIGOSHOP TABS -------------------------------*/
                        
                    div.product #tabs {
                        background-color: inherit;
                        //border-top: solid #999 1px;
                        clear: both;
                        padding: 20px 0;
                        margin: 20px 0;
                        /* outline:solid green thin; */
                        
                    }
