   /* ! --JIGOSHOP FORMS imputs --------------------*/
                     /* imputs */
                    
                    
                    .quantity input.plus, 
                    .quantity input.minus {
                          -webkit-border-radius: 0;
                          -moz-border-radius: 0;
                        border-radius: 0;
                        text-align: center;
                        width: 10px;
                    }
                    
                    form .form-row input.input-text, 
                    #content .form-row input.input-text, 
                    form .form-row textarea, 
                    #content .form-row textarea, 
                    input#coupon_code.input-text, 
                    input.input-text.qty.text {
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                        border-radius:0;
                        /* margin: 4px !important; */
                    }
                    
                    .jigoshop .product form.cart div.quantity {
                        float: left;
                        margin: 8px 0 4px 0 0;
                        padding-top: 8px;
                        padding-bottom: 20px;
                    }
                    
                    .jigoshop .product .quantity input.qty {
                       border: 1px solid $color-primary;
                           -webkit-border-radius: 0;
                           -moz-border-radius: 0;
                        border-radius: 0;
                        display: inline;
                        margin: 4px 4px 4px 1px !important;
                        line-height: 1em !important;
                        vertical-align: middle;
                    }

                    
                    .jigoshop .product .quantity input.plus, 
                    .jigoshop .product .quantity input.minus {
                        display: block; 
                        /* width: 10px; */
                    }
                    