/* ! --JIGOSHOP BUTTONS ----------------------------------------------*/
                     
    
    .jigoshop #page a.button, .jigoshop #page a.button-alt,.jigoshop  #page button.button, .jigoshop #page input.button, .jigoshop #page input.button-alt{
        margin:0;
        padding: 5px 9px;
        cursor: pointer;
        text-decoration: none;
           -moz-box-sizing: content-box;
           -webkit-box-sizing: content-box;
        box-sizing: content-box;
           -webkit-border-radius: 0px;
           -moz-border-radius: 0px;
        border-radius: 0px;
        color:#000000 !important; 
        text-shadow:0 1px 0 rgba(255,255,255,0.5); 
        border:1px solid #bbbbbb; 
        background:#eeeeee; 
        background:-moz-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc)); 
        background:-webkit-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:-o-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:-ms-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:linear-gradient(top,#ffffff 0%,#dcdcdc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0); 
        -webkit-box-shadow: inset 1px 1px 0px #FFF;
        -moz-box-shadow: inset 1px 1px 0px #FFF;
        box-shadow: inset 1px 1px 0px #FFF;
    } 

    .jigoshop #page a.button:hover, .jigoshop #page a.button-alt:hover, .jigoshop #page button.button:hover, .jigoshop #page input.button:hover { 
        text-decoration: none;
        color:#000000; 
        text-shadow:0 1px 0 rgba(255,255,255,0.5); 
        border:1px solid #aeaeae; 
        background:#e1e1e1; 
        background:-moz-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cfcfcf)); 
        background:-webkit-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:-o-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:-ms-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0); 
    } 
    
    .jigoshop #page a.checkout-button,
    .jigoshop #page .button-alt {
        border: 1px solid #BBB;
        background: #EEE;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,gainsboro));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);                            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        border-radius: 0px;
            -webkit-box-shadow: inset 1px 1px 0px white;
            -moz-box-shadow: inset 1px 1px 0px #FFF;
        box-shadow: inset 1px 1px 0px white;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
        box-sizing: content-box;
        color: black !important;
        clear: both;
        cursor: pointer;
        margin: 0 0px 0 0;
        padding: 5px 9px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    
    .jigoshop #page .jigo0shop #page .checkout-button.button-alt {
         margin-top: 0;
         //outline: green solid 1px;
     }
         
     .jigoshop #page a.checkout-button {
         color: $color-primary;
     }
         
     a.button,
     button.button,
     input.button,
     #review_form #submit {
      
          background: $color-primary;
          border: none;
              -webkit-border-radius: 0px;
              -moz-border-radius: 0px;
          border-radius: 3px;
          color: #fff;
          cursor: pointer;
          font-family: inherit;
          float: left;
          font-size: 12px !important;
          line-height: 1em !important;
          margin: 4px 2px 0 0;
          padding: 6px;
          vertical-align: middle !important;
          text-align: center;
          text-decoration: none;      
          width: auto !important;
        }
        
    .jigoshop #page .product a.checkout-button:hover, .jigoshop #page .button-alt:hover {
        
        border: 1px solid #AEAEAE;
        background: #E1E1E1;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#CFCFCF));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);
        background-image: none;
        color: black;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
        
    .jigoshop #page .product a.checkout-button:hover a, 
    .jigoshop #page .button-alt:hover a {
        
        //color: #fff323;
        
    }

        
    a.button:hover,
    button.button:hover,
    input.button:hover,
    #review_form #submit:hover {
      /* background: #ff9933; */
      
      border-color: $color-primary;
      background-image: none;
      text-decoration: none;
    }
    
    .cart .button,
    .cart input.button {
      float: none;
    }
    
               
        /* variable option product button */
            .jigoshop #page .product .variations select#sizes,
            .jigoshop #page .product .variations select#sizes option {
                color: $color-primary;
                font-size: 12px;
                margin-top: 5px;
            }
        
        /* multi-product button */
         
         .jigoshop #page .products .product a.button,
         .jigoshop #page .products .product a.button-alt {
            background: none;
            cursor: pointer;
            filter: none;
            
            border: none;
                -webkit-border-radius: none;
                -moz-border-radius: none;
            border-radius: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            box-shadow: none;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
            box-sizing: content-box;
            
            color: $color-primary !important;
            display: block;
            font: inherit;
            
            margin: 0;
            /* outline: green 1px dotted; */
            padding:0;
            
            text-decoration: none;
            text-shadow: none;
            
            }
            
            .jigoshop #page .products .product a.button:hover,
            .jigoshop #page .products .product a.button-alt:hover,
            .jigoshop #page .products .product a.button:active,
            .jigoshop #page .products .product a.button-alt:active {
                text-decoration: underline !important;
            }
            
            .jigoshop #page .products .product a.button:focus,
            .jigoshop #page .products .product a.button-alt:focus {
                outline: solid 1px $color-primary;
            }
                        
 