 /* ! --SECTION CAROUSEL -- */
                    .carousel-control.right, 
                    .hentry .carousel-control.right,
                    .carousel-control.left, 
                    .hentry .carousel-control.left {
                        left: -1000px;
                        position:absolute;
                    }
                    .carousel-caption {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 10px 15px 5px;
                        background: transparent;
                    }