 
/* ! --SECTION PRIMARY NAV - used for kwakualston.com Primary Nav ------- */
                    /* located: /themes/kwakuFour/sections */
                

        
        #secondnav #menu-kwakushop-categories li:after {
            color: $color-primary;
            content: " \00a0-\00a0\00a0";
        }
        
       #secondnav #menu-kwakushop-categories li.last:after {
            content: "";
        }
        
        #menu-kwakushop-categories li.current-product-ancestor a{
            color: $color-primary;
        }

        #nav .content-pad, 
        #secondnav .content-pad {
            //padding-top: 5px;
            //padding-bottom: 4px;
        }
        
        #secondnav #menu-kwakushop-categories li:after {
            color: $color-navigation-links;
            content: " \00a0-\00a0\00a0";
        }
        
       #secondnav #menu-kwakushop-categories li.last:after {
            content: "";
        }
        
        #menu-kwakushop-categories li.current-product-ancestor a{
            text-decoration: underline;
        }
         ul#menu-kwakushop.main-nav {
            width: 100%;
        }

  