
                    
 /*  ! --JIGOSHOP PAGE : CART and CHECKOUT and ACCOUNT -------------------------------------------*/
 
     table.shop_table {
        background-color: #fff;
        border: 1px solid $color-primary;
        border-collapse: separate;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        border-radius: 0px;
        margin: 0px -1px 24px 0px;
        text-align: left;
        width: 100%;

    }
    
    table.shop_table th, 
    table.shop_table tr,
    .products li strong,
    table.shop_table tfoot td {
        color: $color-primary;
        font-weight: normal;
    }
    
    div.product table.shop_attributes {
        border: 0 !important;
        border-top: none !important;
    }
    
    
    div.product table.shop_attributes th {
        color: $color-primary !important;
        font-weight: normal;
        padding: 0 0 8px 20px;
    }
    .cart-collaterals .cart_totals {
        text-align: left;
    }
    
    .cart-collaterals .cart_totals tr {
       font-weight: normal;
    }
    
    .cart-row-total-title strong,
    .cart-row-total strong {
        //color: $color-primary;
        font-weight: normal;
    }
    
    .cart-row-subtotal-title,
    .cart-row-shipping-title,
    .cart-row-tax-title {
        color: $color-primary;
        font-weight: normal;
    }
    
    .cart-collaterals .cart_totals {
        width: 327px;
    }
    .cart-collaterals .cart_totals tr td, 
    .cart-collaterals .cart_totals tr th {
        border: none;
    }
    
    .cart-collaterals .cart_totals table td, .cart-collaterals .cart_totals table th {
        padding: 6px 12px 12px 0!important;
    }
    .cart-collaterals .cart_totals tr td.cart-row-total, 
    .cart-collaterals .cart_totals tr th.cart-row-total-title {
        border-top: solid 1px $color-primary;
    }
    
    .cart-collaterals .cart_totals h2 {
        border-bottom: solid 1px $color-primary;
        text-align: left;
        margin: 0;
        margin-left: 0px;
        
    }
    