.sbe_sharelink {
	padding: 0 0 0 5px;
	vertical-align: top;//for 2.3+
}
.button_count a.connect_widget_like_button {
	height: 19px;
	padding: 4px 5px 0;
}
.sharebar_text.right {
	margin-left: 10px;
}
.sharebar_text.left {
	margin-right: 10px;
}
.sbe_pin_shareimg {
	margin-bottom: -1px;
	vertical-align: top;//for 2.3+
}
.sbe_shareimg {
	vertical-align: top;//for 2.3+
}
.sbe_shareimg:hover, .sbe_pin_shareimg:hover {
	opacity: 0.6;
}