/*  Launchpage specific stylings    */        


.outer-container .launch-content .content-pad {
            border-radius: 0;
            color:$color-primary;
            //max-width: 242px;
            //max-width: 10.2rem;
            a:link {
                color: $color-navigation-links;
            }

            a:hover,
            a:focus {
                color: $color-primary;
            }
        }

        /*  ! --LAUNCHPAGE SECTION/PLUGIN -------------------------------------------*/
@media (min-width: $bp-small) {
                                           
         body.launchpage {

         }

         .launch-content .content-pad {
            border-radius: 0;
            color:$color-primary;
            max-width: 12.2rem;
        }
        .home.launchpage .content.launch-logo {
            //position: absolute;
        }
        .outer-container .inner-container {
            //max-width: 750px;
            padding: 0;
            margin: 1.1rem 0 0 10rem;
            position: relative;
        }
        .outer-container .launch-content .content-pad {
            //border-radius: 0;
            color:$color-primary;
            //max-width: 242px;
            //width: 15.2rem;
        }


        .launchpage img.icon {
            display: inline;
            margin-top: -5px;
            margin-right: 8px;
        }

    }
