/* =============================================================
	THE GRID
	Structure and layout.
 * ============================================================= */

/*  Breakpoints:
large: >= 980px 
medium: <= 979 	



$bp-small: 30em; < 704
$bp-medium: 44em; //704 – 979 
$bp-large: 60em; //980 +
*/


/*  Mobile-first. Single-column layout by default
 *  Container sets the maximum page width. Adjust as needed. */
.page-canvas {
	max-width: $container-max;
	width: 88%;
	margin-left: auto;
	margin-right: auto;
}


/*  Still mostly single-column.
 *  Option to activate grid on small screens.
 *  Two-column layout for .grid-img. */
@media (min-width: $bp-xsmall) {

	.row {
		margin-left: $grid-margins * -1;
		margin-right: $grid-margins * -1;
	}

	.grid-fourth,
	.grid-third,
	.grid-half,
	.grid-two-thirds,
	.grid-three-fourths,
	.grid-full,
	.grid-img {
		float: left;
		width: 100%;
		padding-left: $grid-margins;
		padding-right: $grid-margins;
	}

	/*  Reverses order of grid for content choreography */
	.grid-flip {
		float: right;
	}

	/*  Optionally show grid for small screens */
	.row-start-xsmall .grid-fourth {
		width: 25%;
	}

	.row-start-xsmall .grid-third {
		width: 33.33333333333%;
	}

	.row-start-xsmall .grid-half,
	.grid-img {
		width: 50%;
	}

	.row-start-xsmall .grid-two-thirds {
		width: 66.666666666667%;
	}

	.row-start-xsmall .grid-three-fourths {
		width: 75%;
	}

}


/*  Still mostly single-column.
 *  Option to activate grid on medium screens.
 *  Three-column layout for .grid-img. */
@media (min-width: $bp-small) {

	/*  Show grid for small screens */
	.row-start-small .grid-fourth {
		width: 25%;
	}

	.row-start-small .grid-third,
	.grid-img {
		width: 33.33333333333%;
	}

	.row-start-small .grid-half {
		width: 50%;
	}

	.row-start-small .grid-two-thirds {
		width: 66.666666666667%;
	}

	.row-start-small .grid-three-fourths {
		width: 75%;
	}

}


/*  Full 6-column grid.
 *  Four-column layout for .grid-img. */
@media (min-width: $bp-medium) {

	.grid-fourth,
	.grid-img {
		width: 25%;
	}

	.grid-third {
		width: 33.33333333333%;
	}

	.grid-half {
		width: 50%;
	}

	.grid-two-thirds {
		width: 66.666666666667%;
	}

	.grid-three-fourths {
		width: 75%;
	}


	/*  Offets let you shift grid elements to the right
	 *  but stay aligned to the grid. */
	.offset-fourth {
		margin-left: 25%;
	}

	.offset-third {
		margin-left: 33.33333333333%;
	}

	.offset-half {
		margin-left: 50%;
	}

	.offset-two-thirds {
		margin-left: 66.666666666667%;
	}

	.offset-three-fourths {
		margin-left: 75%;
	}

}

/* Add clearfix */
.container,
.row {
	@extend .group;
}