 
                /* ! --SECTION NAVBAR DEFAULT - KwakuAlstonPortfolio : Social-Icons-Menu */
                
                    #navbar.section-navbar .navbar.pl-color-black-trans {
                        background-color: #fff;
                        background-image: none;
                        border-top: none;
                        box-shadow: none;
                    }
                    
                    .section-navbar .content-pad .navbar-content-pad {
                        padding: 0;
                    }
                    
                    #menu-social-icons {
                       // margin: -21px 0 0 0;
                        margin: -2.3em 0 0 0;
                        /* outline: dotted green 1px; */
                    }
                                        
                    #menu-social-icons li a{
                        padding: 0 6px 0 0;
                        
                    }
                    
                    #menu-social-icons li.last a{
                        padding-right: 0;
                        
                    }