
.copy.section-galleryNavSection {
  //margin-top: -2em;
  //margin-bottom: 1.2rem;

}
.section-galleryNavSection {
	//@include debug(aqua);
  margin-top: 0;
  margin-bottom: 1.2rem;
  padding: .8rem 0;
	border-bottom: solid 1px #111;
	//font-size: 1em;

  .sub-nav {
    list-style-type: none;
    color: $color-navigation-links;

    .page_item {
      float: left;
      padding-right: 8px;
    }
      a {
        @include font-size(1);
      

        &:hover {
          color: $color-navigation-links;
          text-decoration: underline;
        }
      }
      .page-title {
        text-decoration: underline;
      }

  }
	
}
 /* ! -- GALLERY NAVIGATION ------------------------------------------------*/
        .sub-nav {
            //font-size: inherit;
            //margin-top: 8px;
            //margin-left: 8px;
            
        } 
        .sub-nav li{
           // clear:both;
           // display: inline-block;
           // font-size: 12px;
            //list-style: none;
           // margin-bottom: 8px;
            //padding-right: 0px;
            
        }
        
        .sub-nav .entry-title {
            //float: left;
            //margin-left: 0;
            
        }

  
        .sub-nav .sub-nav li:before {
            //content:" \00a0/\00a0";
            //color:  #fd9f29;
            //padding-left: 8px;
        }
    
        
        .sub-nav li a {
            //display: inline-block;
            //padding-left: 8px;
        }
        li.entry-title a {
            //padding-left: 0;
        } 
       
       .sub-nav ul.sub-nav  {
          /*  float: left; */
       }    
       
       .sub-nav li.page_item {
           //float: none;
       } 

      li.entry-title {
        //font-size: 12px;
        //font-size: .8rem;
        //@include debug(green);
    }
    /*  ! --MINIMUM WIDTH 980PX ---------------------*/
@media screen and (min-width: 960px) {
      
      #page .page-canvas {
            width: 98%;
            max-width: 980px;
            /*margin: 24px auto; 
            margin: 1.5rem auto;  should be 16x1.5/24px */
            /* outline: green dotted 1px; */
        }
        .homepage-thumbs .grid-element.img_grid.pplast,
        .film-thumb-boxes .grid-element.img_grid.pplast {
             margin-right: 0;
        }
            /* !  --SINGLE IMAGE GALLERY - NGG IMAGEBROWSER  ------------------------------------ */
                #column-main .ngg-imagebrowser-nav {
                    background-color: transparent;
                    border-bottom: none;
                    margin: 0 45%;
                    padding: 0px;
                    position: absolute;
                    top: -3.4em;
                    width: 18%;

                    img   {
                      width: 100%;
                    }
                }

                .single-image-container {
                    margin-bottom: 17px;
                    position: relative;
                }
                
                
                .single-image-container .ngg-imagebrowser-desc {
                    bottom: 30px;
                    bottom: 1.9rem;
                    margin: 0 8px;
                    position: absolute;
                    width:98.3656793%
                    
                }
                
                 .ngg-imagebrowser-desc:hover {
                     visibility: visible !important;
                     display: block;
                 }
                
                .ngg-imagebrowser-desc > p {
                    background-color: #fff;
                    color: #777;
                    font-size: 12px;
                    font-size: 0.8rem;
                    margin:0;
                    max-width: 100%;
                    padding: 20px;
                    padding: 1.25rem;
                    width:95.8463136%;
                }
             
             }  
    
