
#page {
  
  margin-top: 1em;
}

.alpha,
.gamma .content .content-pad {
  padding: 0;
}
.threeboxes,
.alpha {
  
  
  .content-pad {
    padding: 0;
  }
  
}

.alpha,
.single {
  .fullwidth #column-main .mcolumn-pad {
    padding: 0;
  }
}
.single .section-primary_nav .content-pad {
  padding-bottom: 0;
}

#page-main {
    margin-top: 1rem;
    padding-top: 0rem;

    .single & {
      margin-top: 0;

      #content .content-pad {
        padding-top: 0;
      }
    }

    .single & .container .content-pad {
      //padding: 0;
    }

   .gamma & #column-main .mcolumn-pad,
   .single & #column-main.mcolumn-pad {
      padding: 0;
      margin-top: 0;
    }
  
    .alpha &,
    .threeboxes & {
      margin-top: 1em;

      .content-pad  {
          padding: 0;

       

      }
      
    }


    .page-template-page-gamma & #postloop, /* portfolio pages */
    .k5.gamma & {
    	//margin-top: 1em;
    }
}


.k5.gamma #postloop { //this sections belongs to galleryNav
  margin-top:.5em; 
}


.page-template-page-gamma-php #page-main, 
.page-template-page-gallery02-php #page-main {
  padding-top: 0;
  margin-top: 0;
}
#branding .content-pad {
  padding: 15px;
}

