 .homepage-thumbs .grid-element.pp3,
 .film-thumb-boxes .grid-element.pp3 {
    position: relative;
    width: 32.25555%;
    margin-right: 1.555%;
    //margin-bottom: 8px;
    
    &.pplast {
        margin-right: 0;
    }
 } 

 .homepage-thumb-box .top_thumbs .fboxgraphic, 
 .only_thumbs .fboxgraphic,
 .homepage-thumb-box .grid-element {
  //margin-bottom: 3px; 
}  


.homepage-thumbs .fboxinfo,
.film-thumb-box .fboxinfo,
.homepage-thumbs .fboxinfo h3 a,
.film-thumb-box .fboxinfo h3 a {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 97%;
    width: 100%;
    padding: 0;
    //overflow: hidden;
    background: rgba(1,1,1,0.0);
    color: #fff;

     &:hover {
        background: rgba(1,1,1,1);
        transition: all .6s linear;
    }
}

.homepage-thumbs.film-thumb-box .fboxinfo,
.film-thumb-box .fboxinfo {
    background: rgba(1,1,1,.35);

    h3 a {
        padding-top: 3em;
        display: block;
    }
}

.homepage-thumbs .fboxtitle h3,
.film-thumb-box .fboxtitle h3 {
   color: rgba(255,255,255,0);
   @include font-size(1);
    height: 100%;
    @include clearfix;
    &:hover {
       color: rgba(255,255,255,1); 
    }


}

.homepage-thumbs .fboxinfo .fboxtitle h3 a,
.film-thumb-box .fboxinfo .fboxtitle h3 a {
    color: inherit;
    padding: 1.1em 1em;
    display: block;

    height: 100%;
    //@include debug(orange);

    &:hover{
        ///outline: dotted 1px #fff;
        text-decoration: none;
    }
}

.homepage-thumbs .fboxinfo .fboxtitle h3 a,
.film-thumb-box .fboxinfo .fboxtitle h3 a {
  
}

.homepage-thumbs .fboxinfo .fboxtitle h3 a:hover,
.film-thumb-box .fboxinfo .fboxtitle h3 a:hover {
    ///outline: dotted 1px #fff;
    text-decoration: none;

}


.fboxtext .video-icon {
    //float: left;
    padding: 0.25em 0 0 1em;

   }


 
    