/*  fields.scss   */

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include border-radius(3px);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/* ! - FORMS -------------------------------*/

    input[type="submit"], .submit, input[type="button"], .button, input[type="reset"], .reset {
        padding: 4px 9px;
        cursor: pointer;
        text-decoration: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: black;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        border: 1px solid #BBB;
        background-color: #F1F1F1;
        background-image: -moz-linear-gradient(top,white,gainsboro);
        background-image: -ms-linear-gradient(top,white,gainsboro);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(gainsboro));
        background-image: -webkit-linear-gradient(top,white,gainsboro);
        background-image: -o-linear-gradient(top,white,gainsboro);
        background-image: linear-gradient(top,white,gainsboro);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dcdcdc',GradientType=0);
        box-shadow: inset 1px 1px 0px white;
        font-family: inherit;
    } 