/* headings.scss */
    
    h1, h2, h3, h4 {
      font-weight: normal;
      font-size: 12px;
      font-size: .8rem;	
    }
    
    h1.entry-title, 
    h2,
    .entry-title,
    h2.entry-title,
    h1, .fpost .entry-title {
        color: #fd9f29;
        font-weight: normal;
        font-size: 12px;
        font-size: .8rem;
        margin-left: 8px;
    }
    #gallery-nav li.entry-title {
        font-size: 12px;
        font-size: .8rem;
    }
    