/*  navigation.scss  
Navigation specific stylings    */
    /*  Main Navigation    */

.menu-primary-navigation-container {
    border-top: $color-primary solid 1px; 
    border-bottom: $color-primary solid 1px;
    padding: .8rem;
    padding-left: 0;
}

.main_nav {
     //margin-left: 8px;

        
        .menu-item {
            padding:0;
            margin:0;
            @include font-size(1);

            &.current-menu-item a{
                text-decoration: underline;
            }
    
        a {
            color: $color-navigation-links;
            @include font-size(1);
            &:hover {
                text-decoration: underline;
            }
        }
            
        &:after {
            content:" \00a0-\00a0";
            color: $color-navigation-links;
        } 
        &.last:after {
            content:""; 
        }

    }

}     
       
.section-primary_nav {
    //outline: $color-primary dashed 1px;
    
}
.main_nav li.last.workshops {
    float: right;
}
        
.main_nav ul li.last a,
.widget_nav_menu li.last a {
    padding: 0px;     
}
        
    
      
        
        
       
        
    
        
