/*  next-gen.scss   */  

  /* !  --SINGLE IMAGE GALLERY - NGG IMAGEBROWSER  ------------------------------------ */
.ngg-imagebrowser-nav {
	background-color: transparent;
	border-bottom: none;
	margin: 0 45%;
	padding: 0px;
	position: absolute;
	top: -3.4em;
	width: 8%;

	.back,
	.next {
	  	float: left;
	  	border: none;
	 	margin-right: 3px;
	  	padding: 3px 7px;
	}

}


.single-image-container {
	margin-bottom: 17px;
	position: relative;
	//@include debug(blue);

	.ngg-imagebrowser-desc {
		bottom: 30px;
		bottom: 1.9rem;
		margin: 0 8px;
		position: absolute;
		width:98.3656793%;
		//@include debug(green);

		> p {
                background-color: #fff;
                color: #777;
                margin:0;
                max-width: 100%;
                padding: 20px;
                padding: 1.25rem;
                text-align: center;
                width:45.8463136%;
    	}

        &:hover {
			visibility: visible !important;
			display: block;
		}
	}
		

		.view-caption-button {
			cursor: pointer;
			display: inline;
			float: left;
			padding: 20px 8px;
			padding: 0;
			//position: absolute;
			visibility: visible;

			a:hover,
			a:active {
				text-decoration: none;
			}
		} 

}



/* ! --- SECTIONS THUMBNAIL GALLERIES - NGG ----------------------------------  */
 	//navigation - nextgen           
        
.ngg-galleryoverview {
//outline: green dashed 1px;
	position: relative;
}

.ngg-galleryoverview .ngg-gallery-thumbnail-box {
	background: #f2f2f2;
	float:left;
	height:261px;
	line-height: 258px;
	margin:0 8px 8px 0;
	position:relative;
	width:321px;
}

.ngg-galleryoverview .ngg-gallery-thumbnail-box:nth-child(3n+3) {
	margin-right: 0;
}

.ngg-galleryoverview .ngg-gallery-thumbnail {
	/* display:table; */
	height: 100%;
	margin-right: 0;
	margin-top: 0;
	width: 100%;

}

.ngg-galleryoverview .ngg-gallery-thumbnail a:link {
	/* background-color:#FFFFFF; */
	border:none;
	height: 100%;
}

.ngg-galleryoverview .ngg-gallery-thumbnail a:link img {
	background-color:#FFFFFF;
	border:none;
	display:inline-block;
	overflow: hidden;
	vertical-align: middle;
	margin: 0px 0 0px 0px;
	padding:0;
}

              
