/*  
Originals   GLOBALS Typography and Links */

body, input, textarea {
    font-family:Georgia, "Times New Roman", Times, serif;
    //font-size: 13px;
    //font-size: .8rem;
    line-height:133%;
    color:$color-primary;
    text-align:left;

}


/* ! - HEADINGS ---------------------- */
    
    h1, h2, h3, h4 {
      font-weight: normal;
      font-size: 12px;
      font-size: .8rem; 
    }
    
    h1.entry-title, 
    h2,
    .entry-title,
    h2.entry-title,
    h1, .fpost .entry-title {
        color: $color-primary;
        font-weight: normal;
        @include font-size(1);
        margin-left: 8px;
    }
   
    
/* ! - TEXT ------------------------ */
    
    blockquote {
        margin-left: 30px;
        margin-right: 25%;
    }
    
    em,
    i {
      /*font-size: 13px;*/
        color: $color-primary;
        font-style: italic;
    }
     
    p {
       //font-size: 12px;
       //font-size: .75rem;
       margin-bottom: 7px;
    }
    
    small {
        //font-size: 7px;
        //font-size: .4375rem;
        //margin-bottom: 7px;
    }
    
    section#content section > p {
        //margin-top: 0;
    }
      
        
    b,
    strong {
      //color: $color-primary;
      font-weight: normal;
    }
    
    #footer {
        font-size: smaller;
    }
    
/* ! - FORMS -------------------------------*/

    input[type="submit"], .submit, input[type="button"], .button, input[type="reset"], .reset {
        padding: 4px 9px;
        cursor: pointer;
        text-decoration: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: $color-primary;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        border: 1px solid #BBB;
        background-color: #F1F1F1;
        background-image: -moz-linear-gradient(top,white,gainsboro);
        background-image: -ms-linear-gradient(top,white,gainsboro);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(gainsboro));
        background-image: -webkit-linear-gradient(top,white,gainsboro);
        background-image: -o-linear-gradient(top,white,gainsboro);
        background-image: linear-gradient(top,white,gainsboro);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dcdcdc',GradientType=0);
        box-shadow: inset 1px 1px 0px white;
        font-family: inherit;
    }  

/* ! - IMAGES ------------------------------ */
    img,
    embed,
    object,
    video {
        /* max-width: 100%; */
        -ms-interpolation-mode: bicubic; /* for IE7 */
    }
    
     
        
/* ! - LISTS ------------------------------ */
    ul,
    ol {
      padding: 0;
      margin: 0;
    }
    
    ul ul,
    ul ol,
    ol ol,
    ol ul {
      margin-bottom: 0;
    }
    
    ul {
      list-style: disc;
    }
    
    ol {
      list-style: decimal;
    }
    
    li {
      line-height: 18px;
    }
    
    .widget-title,  
    .main_nav, 
    .author-details, 
    .post-nav, 
    .current_posts_info, 
    #secondnav,
    #page-main .entry-header #gallery-nav.sub-nav {
        //font-size: 96%;
    }
 
 /* ! - LINKS ----------------------------- */

    a:link,
    a:visited {
        color: $color-primary;
        text-decoration: none;
    } 

    a:hover,
    a:focus,
    .current-menu-item,
    .current_page_item {
        //color: $color-primary;
        text-decoration: none;
    }
    a:active {}

/* ! -LAYOUT AND CONTAINERS */
    
    .page-template-page-gamma-php #site #page, 
    .page-template-page-gamma-php #site #dynamic-content {
        min-height: 330px;

    }

    .page .page-canvas {
        width: 98%;
        max-width: 980px;
        margin: auto;
       /*  outline: blue dotted 1px; */
    }
        

        .page-template-page-alpha-php #page-main {
            //padding-top: 29px;
        } 
        /*gallery pages - template 3*-kshop static */
        .page-template-page-gamma-php #page-main,
        .page-template-page-gallery02-php #page-main {
            //padding-top: 2px;
        }
        
        /*

        
        #page-main header.entry-header {
            //border-bottom: #cccccc dotted 1px;
            //margin: 0 0 20px 0;
            //margin: 0 0 1.25rem 0;
            position: relative;
        }
        
        .container {
            margin-bottom: 20px;
            margin-bottom: 1.25rem;
        }
        
        #header {
            margin: 0 0 0 0;
        }
        
        #brandnav .content-pad,
        #branding.container {
            padding: 2em 0 1.5em 0;
        }
        .content .content-pad,
        .fullwidth #column-main .mcolumn-pad,
        #content .content-pad   {
            padding: 0;
        }
        
        #footer .content{
            border-bottom: #111111 solid 1px;
            border-top: #111111 solid 1px; 
            color: $color-primary;
            margin: 10px auto 20px;
            padding: 8px 0 8px;
                a {
                    color: $color-primary;
                }
        }
        
        .jigoshop #footer .content,
        .kwakushop #footer .content {
            border-bottom: none;
            border-top: none;
            margin: 20px auto;
            padding: 8px 0 0;
        }
        
        
       
            
            /* ! --TEMPLATE - GALLERY PAGE -----------------------*/
            
            /* ! --TEMPLATE - GALLERY THUMBS PAGE -----------------------*/
            
                /*
.page-template-page-gallery-php #page-main,
                .page-template-page-gallery-thumbs-php #page-main {
                        padding-top: 0;
                    }
*/

            /* ! --TEMPLATE - K'SHOP PAGE -----------------------*/
                
        
 

    
/* ! -MENUS AND NAVIGATION--------------------------------- */
    
    /* ! --All menu items with class .main_nav  */  
        .menu-primary-navigation-container,
        .main_nav_container,
        .widget_nav_menu {
            margin-left: 0px;
        }   

        .main_nav,
        .sub-nav,
        .widget_nav_menu {
            margin-left: 8px;
        }
        
        .main_nav li,
        .inline-list.main_nav li {
            padding:0;
            margin:0;
            
        }
        
        ul#menu-kwakushop.main-nav {
            width: 100%;
        }
        
        .main_nav ul li a,
        #nav_menu-3.widget_nav_menu,
        #secondnav #menu-kwakushop-categories li a
         {
            display:inline;
            @include font-size(1);
            line-height: 1em;
            padding: 0 2px 0;     
        }
        
        .main_nav li a:hover,
        .main_nav li a:focus {
            background-color: transparent;
        }
        
        .main_nav li.last.workshops {
            float: right;
        }
        
        .main_nav ul li.last a,
        .widget_nav_menu li.last a {
            padding: 0px;     
        }
        
        .main_nav li:after,
        .widget_nav_menu li:after {
            content:" \00a0/\00a0";
            //color:  $color-primary;
            /* padding-left: 4px; */
        }
        
        
        
         .main_nav li.last:after,
        .widget_nav_menu li.last:after {
            content:"";
        }
        
        
        
        .main_nav li.current-menu-item,
        .main-nav .current-menu-item a, 
        .main-nav li a:hover,
        .widget_nav_menu li.current-menu-item,
        .widget_nav_menu .current-menu-item a {
            background-color: transparent;
            //color: $color-primary;
            text-decoration: none;
        }
        
        .main-nav .current-menu-ancestor a, 
        .main-nav li.current-menu-ancestor ul a, 
        .main-nav li.current_page_item a, 
        .main-nav li.current-menu-item a, 
        .main-nav li.current_page_parent a, 
        .sf-menu li li, 
        .sf-menu li li li,
        .main-nav li a:hover, 
        .main-nav li.current_page_item > a, 
        .main-nav li.current-page-ancestor > a,
        .widget_nav_menu li a:hover,
        .widget_nav_menu li a:focus{
            background-color: transparent;
        }
        
        .main-nav li a:hover:hover, 
        .main-nav li.current_page_item > a:hover, 
        .main-nav li.current-page-ancestor > a:hover {
            background-color: transparent;
        }
        
    /* ! --KWAKUSHOP subNAVIGATION : SECONDARY - CATEGORIES ------------------*/  
        
        


        
    /* ! -- GALLERY NAVIGATION ------------------------------------------------*/
        #gallery-nav.sub-nav,
        .sub-nav {
            //font-size: inherit;
            //margin-top: 8px;
            //margin-left: 8px;
            
        } 
        #gallery-nav.sub-nav li,
        .sub-nav li {
            //clear:both;
            //display: inline-block;
            //font-size: 12px;
            //list-style: none;
            //margin-bottom: 8px;
            //padding-right: 0px;
            
        }
        
        
        .sub-nav .entry-title {
            //float: left;
            //margin-left: 0;
            
        }

    
        #gallery-nav .sub-nav li:before,
        #gallery-nav li.page_item:before,
        .sub-nav .sub-nav li:before,
        .sub-nav li.page_item:before {
            //content:" \00a0/\00a0";
            //color:  $color-primary;
            //padding-left: 8px;
        }
    
        #gallery-nav li a,
        .sub-nav li a {
            //display: inline-block;
            //padding-left: 8px;
        }

        #gallery-nav li.entry-title a {
            //padding-left: 0;
        } 

       #gallery-nav ul.sub-nav,
       .sub-nav ul.sub-nav  {
          /*  float: left; */
       }    
       #gallery-nav li.page_item,
       .sub-nav li.page_item {
           //float: none;
       }
       
       
       
       
       
/* ! - THE CONTENT ----------------------------------------------------- */  


    /* ! -- BASIC POST------------------------------------------------------ */
    

        
        section article p{
            width: 470px;
            max-width: 100%;
        }
        section article p.image-container,
        section article p.image-container img {
            width: 100%;
            margin:0;
        }
        section#content section > p {
            margin-top: 0;
        } 
        section#content .section-postloop h4,
        .launchpage .outer-container h1, 
        .launchpage .outer-container h2, 
        .launchpage .outer-container h3, 
        .launchpage .outer-container h4, 
        .launchpage .outer-container h5 {
            color: $color-primary;
            //font-size: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
        
       
        
        /*
.page-template-page-kwakushop-php article.page,
        .page-template-page-kwakushop-php article.post {
            border-bottom: solid 1px #111;
        }
*/
        
        .page-template-page-gamma-php section.copy,
        .page-template-page-gamma-php section.copy article.page {
             margin-bottom: 0;
         }
        article.post.category-motion {
            //border-bottom: 1px #111 dotted;
        }
        
        .category-motion.hentry .hentry-pad {
            padding-bottom: 20px;
        }
        
        section#postloop article.category-motion section.post-meta {
            display: none;
        }
                
        
        .jigoshop #content,
        .kwakushop #content {
            border-bottom: solid #111 1px;
            padding-bottom: 20px;
        }
        .jigoshop.jigoshop-products #content {
            padding-bottom: 12px;
        }
        .jigoshop #content .hentry .hentry-pad,
        .kwakushop #content .hentry .hentry-pad,
        .kwakushop #content article,
        .kwakushop #content article .carousel.slide {
             margin: 0;
             padding: 0;
           
        }   

        
     
        .page-template-page-alpha-php article.page.hentry,
        .page-id-10 article.page.hentry {
            margin-bottom: 0;
        }
        .page-template-page-alpha-php .hentry .hentry-pad,
        .page-id-10 .hentry .hentry-pad {
            padding: 0;
        }
        .gamma .hentry .hentry-pad {
            padding: 0;
        }
       
        
        /* links */
        a.post-edit-link,
        a.pledit {
            position: absolute;
            left: -50px;
        }
    
    
    /* ! -- SECTIONS ------------------------------------------------------ */
    
         /* ! --- SECTIONS BOXES ---------------------------------------------------------  */
    
                
               
                /* ! --- SECTIONS SHAREBARS ---------------------------------------------------------  */

                    #page .section-kwaku-sharebar-extended {
                        background-color: transparent;
                        color: $color-primary;
                        float: right;
                        margin-top: -12px; 
                        padding: 12px 0 12px;
                    }
                    /*gallery pages*/
                    .gamma #page .section-kwaku-sharebar-extended {
                        margin-top: -17px; 
                        padding: 0;
                    }
                    
                    .sbe_shareimg {
                        max-height: 20px;
                    }
                    .sbe_pin_shareimg {
                        max-height: 21px;
                    }
                    
                   .section-sharebar-new.copy {
                        /* outline: red solid 1px; */
                        margin: 0 0;
                    }
                    
                    .section-sharebar .pl-sharebar-pad,
                    .section-sharebar-new .pl-sharebar-pad{
                        padding: 0;
                    }
                    
                    .section-sharebar-new .pl-sharebar {
                        
                    }
                    
                    .section-sharebar-new .media .bd {
                        
                        
                    }
                    
                    .section-sharebar-new .pl-sharebar-text{
                        
                    }
                    
                    .section-sharebar-new .meta-share{
                        
                    }
                    .section-sharebar-new #___plusone_0,
                    .section-sharebar-new .twitter-share-button {
                        /* width: 90px !important; */    
                        
                        
                    }
                    
                    .section-sharebar-new .IN-widget {
                        margin-right: 11px;
                        margin-left: 5px;
                    }
                    
                    #sharebar-new .pin_wrap {
                        display: inline-block;
                        vertical-align: top;
                        margin-top: 0;
                    }
                    
                    #sharebar .pin_wrap {
                        display: inline-block;
                        vertical-align: top;
                        /* margin: 0 -12px 0 12px; */
                        margin-top: 0;
                    }

   
                /* ! --- SECTIONS THUMBNAIL GALLERIES - NGG ----------------------------------  */
            
        
                    .ngg-galleryoverview {
                        /* outline: green solid 1px; */
                        position: relative;
                    }
        
                    #column-main .ngg-galleryoverview .ngg-gallery-thumbnail-box {
                        background: #f2f2f2;
                        float:left;
                        height:261px;
                        line-height: 258px;
                        margin:0 8px 8px 0;
                        position:relative;
                        width:321px;
                    }
                    
                    #column-main .ngg-galleryoverview .ngg-gallery-thumbnail-box:nth-child(3n+3) {
                        margin-right: 0;
                    }
            
            
                    #column-main .ngg-galleryoverview .ngg-gallery-thumbnail {
                        /* display:table; */
                        height: 100%;
                        margin-right: 0;
                        margin-top: 0;
                        width: 100%;
                        
                    }
                
                    #column-main .ngg-galleryoverview .ngg-gallery-thumbnail a:link {
                        /* background-color:#FFFFFF; */
                        border:none;
                        height: 100%;
                    }
                
                    #column-main .ngg-galleryoverview .ngg-gallery-thumbnail a:link img {
                        background-color:#FFFFFF;
                        border:none;
                        display:inline-block;
                        overflow: hidden;
                        vertical-align: middle;
                        margin: 0px 0 0px 0px;
                        padding:0;
                    }

                /* ! --SINGLE IMAGE GALLERY - NGG IMAGEBROWSER  ------------------------------------*/
                     #column-main .ngg-imagebrowser {
                         /* border-bottom: #CCC dotted 1px; */
                         position: relative;
                    }
        
                    #column-main .ngg-imagebrowser-nav {
                        //border-bottom: #CCC dotted 1px;
                        //margin-bottom: 8px;
                        //margin-bottom: .5rem;
                        //margin-left: 0;
                        //margin-top: -1.65em;
                        //margin-top: -1rem;
                    }
        
                    #column-main .ngg-imagebrowser-nav .back {
                        //border: none;
                        //margin-right: 2%;
                        //padding: 0;
                        //width: 25px;
                    }
                    
                    #column-main .ngg-imagebrowser-nav .next {
                        //border: none;
                        //margin-left: 2%;
                        //padding: 0;
                        //width: 25px;
                    }
                    
                    #column-main .ngg-imagebrowser-nav .back a:link {
                        //border: none;
                        //display: inline-block;
                        //float: right;
                        //margin-right: 3px;
                        //padding: 3px 7px;
                    }
                    
                    #column-main .ngg-imagebrowser-nav .next a:link {
                        //border: none;
                        //display: inline-block;
                        //float: left;
                        //margin-right: 3px;
                        /* padding: 3px 7px; */
                    }
                            
                    .single-image-container {
                        //border-bottom: #CCC dotted 1px;
                        padding-bottom: 20px;
                        padding-bottom: 1.4rem;
                        margin-bottom: 20px;
                        margin-bottom: 1.4rem;
                        position: relative;
                        text-align: center;
                    }
                
                    .ngg-imagebrowser .pic {
                        
                    }
                    
                    #column-main .ngg-imagebrowser img {
                        border: none;
                        clear: both;
                        display: block !important;
                        margin: 0;
                        /* margin: 0 25%; */
                        margin-left: auto;
                        margin-right: auto;
                        padding: 0;
                        max-width: 100%;
                        max-height: auto;
                        text-align: center;
                        width: auto;
                    }
                    
                    /* ---captions 
                            ngg-imagebrowser-desc */
                    
               .single-image-container .ngg-imagebrowser-desc {
                    text-align: left;
                    width:100%;
                    
                }
                /*
section article .ngg-imagebrowser-desc p,
                .ngg-imagebrowser-desc p {
                    
                    color: $color-primary;
                    font-size: 12px;
                    font-size: 0.8rem;
                    margin:0;
                    max-width: 100%;
                    padding: 20px;
                    padding: 1.25rem;
                    width:95.8463136%;
                    
                }
*/
                .ngg-imagebrowser-desc p strong {
                    //color: color-primary11;
                }
                .view-caption-button {
                    cursor: pointer;
                    display: inline;
                    float: left;
                    margin-left: 8px;
                    padding: 20px 8px;
                    padding: 0;
                    /* position: absolute; */
                    visibility: visible;
                } 
                
                .view-caption-button a{
                    color: $color-primary;
                }
                
                .view-caption-button a:hover,
                .view-caption-button.active{
                    color:$color-primary;
                    text-decoration: none;
                }
                    
 

/* ! -KWAKUSHOP - JIGOSHOP  -------------------------------------------------------- */
     
    
        
   /*
 .jigoshop #page-main {
        padding-top: 23px;
        padding-top: 1.4rem;
    }
*/

    .jigoshop body,
    .jigoshop imput,
    .jigoshop textarea {
        color: $color-primary;
    }
     
    .jigoshop h1,
    .jigoshop h2,
    .jigoshop h3 {
        color: $color-primary;
        display: block;
        font-size: 1em;
        margin-left: 8px;
        padding: 4px 0 12px 0;
    }
    

    .jigoshop.archive h1.page-title {
        position: absolute;
        left: -9999px;
    }
    .jigoshop h1.page-title.product_title {
        position: relative;
        padding-bottom: 0;
    }
    
    .jigoshop .images image {
        border: none;
        
    }
    .jigoshop em,
    .jigoshop em {
        color: inherit;
    }

 /*  ! --JIGOSHOP PAGE : PRODUCTS --------------------------------------------*/

    /*
    .products li {
        outline: 1px solid fuchsia;
        float: left;
        height: 504px;
        margin: 0 8px 8px 0;
        padding-bottom: 8px;
        width: 483px;
        
    }
    */

    .archive h1 + p {
        position: absolute;
       visibility: hidden;
    }
                        
    .products ul,
    ul.products {
      margin: 0 !important;
      padding: 0 !important;
      list-style: none;
      float: left;
    }
    
    .products {
      clear: both;
    }
    
    .products li {
      background-color: #fff;
      float: left;
      height: 503px;
      margin: 0 8px 8px 0;
      max-height: 100%;
      max-width:100%;
      padding: 0 0 18px 0!important;
      position: relative;
      /* text-align: center; */
      width: 486px;
    }
    
    .products li.last,
    .products li:nth-child(2n+2) {
        margin-right: 0;
    }

    .products li a {
      text-decoration: none;
    }
    
    
     
    .products li a img {
      /* width: 100% !important; */
      border: none;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      display: block;
      height: auto !important;
      margin: 0 auto !important;
      /* max-height: 388px; */
      /* min-height: 388px; */
      overflow: hidden;
    }
                        
    .products li a:hover img {
      border: none;
      box-shadow: none;
    }
    
    .products .meta {
        color: $color-primary;
        display: block;
        padding: 0 15px;
        margin-top: 18px;
        font-size: 0.77rem;
        line-height: 1.25;
    }
    
    .jigoshop .products li a h3, 
     h1.product_title {
        color: $color-primary;
        font-size: 1em;
        font-weight: normal;
     }
     
    .products .meta h3,
    .products .meta a,
    .products .meta p,
    .products .meta .price {
        color: $color-primary;
        font-size: 1em;
        font-size: .77rem;
        line-height: 1.2;
        margin-left: 0;
        padding: 0;
        
    }
    
    .products .meta p {
        clear:both;
        color: $color-primary;
        margin-top: 0;
        margin-bottom: 8px;
     }
     
     .products .product .category-price-section a,
     .products .product .category-price-section span {
         display: inline;
     }
     
     

    
     #breadcrumb {
        display: none;
        visibility: hidden;
     }
     
     .jigoshop_message {
        margin-bottom: 20px;
        margin-bottom: 1.25rem;
     }
             
/*  ! --JIGOSHOP PAGE : SINGLE PRODUCT ------------------------------------*/
             
            
    /* structure */
    div.product div.images {
        width: 67%;
        max-width: 650px;
        margin-right: 20px;
        margin-bottom: -8px;/*covers the 8px margin for images*/
        float: left;
    }
    
    .product .summary .product_meta {
        font-size: smaller;
    }
    
    
    div.product div.images img {
        background: rgba(255, 255, 255, 0);
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
        border: 1px solid rgba(255, 255, 255, 0);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        
        margin-bottom: 8px;
        padding: 0;
    }
    div.product div.images div.thumbnails a img {
        padding: 0px;
    }
    div.product div.images div.thumbnails a {
        margin-right: 10px;
        margin-bottom: 0px;
        float: left;
    }
    div.product div.images div.thumbnails {
        padding-top: 0px;
        overflow: hidden;
        zoom: 1;
    }
    
    
    div.product div.summary h1,
    div.product div.summary h2,
    div.product .panel h2 {
        margin: 0;
    }
    
    div.product div.summary h1,
    div.product div.summary p.category-price-section {
        color: $color-primary;
    }
    .jigoshop div.summary p {
        margin-top: 0;
    }
    .jigoshop div.summary p.category-price-section {
        margin-bottom: 2px;
    }
    .jigoshop .product-specs {
        color: $color-primary;
    }
    
    div.product p.stock,
    div.product p.single-product-price {
        //color: $color-primary;
        font-size: .92em;
        line-height: 1;
        
    }
    
    div.product p.stock {
        margin: 0;
        padding: 0;
    }
    
    div.product .panel {
        background-color: #fff;
    }
    
    div.product .panel h2{
        background-color: #fff;
    }

                                         

                    
 /*  ! --JIGOSHOP PAGE : CART and CHECKOUT and ACCOUNT -------------------------------------------*/
 
     table.shop_table {
        background-color: #fff;
        border: 1px solid #E7E7E7;
        border-collapse: separate;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        border-radius: 0px;
        margin: 0px -1px 24px 0px;
        text-align: left;
        width: 100%;

    }
    
    table.shop_table th, 
    table.shop_table tr,
    .products li strong,
    table.shop_table tfoot td {
        //color: $color-primary;
        font-weight: normal;
    }
    
    div.product table.shop_attributes {
        border: 0 !important;
        border-top: none !important;
    }
    
    
    div.product table.shop_attributes th {
        color: $color-primary !important;
        font-weight: normal;
        padding: 0 0 8px 20px;
    }
    .cart-collaterals .cart_totals {
        text-align: left;
    }
    
    .cart-collaterals .cart_totals tr {
       font-weight: normal;
    }
    
    .cart-row-total-title strong,
    .cart-row-total strong {
        //color: $color-primary;
        font-weight: normal;
    }
    
    .cart-row-subtotal-title,
    .cart-row-shipping-title,
    .cart-row-tax-title {
        color: $color-primary;
        font-weight: normal;
    }
    
    .cart-collaterals .cart_totals {
        width: 327px;
    }
    .cart-collaterals .cart_totals tr td, 
    .cart-collaterals .cart_totals tr th {
        border: none;
    }
    
    .cart-collaterals .cart_totals table td, .cart-collaterals .cart_totals table th {
        padding: 6px 12px 12px 0!important;
    }
    .cart-collaterals .cart_totals tr td.cart-row-total, 
    .cart-collaterals .cart_totals tr th.cart-row-total-title {
        border-top: solid 1px $color-primary;
    }
    
    .cart-collaterals .cart_totals h2 {
        border-bottom: solid 1px $color-primary;
        text-align: left;
        margin: 0;
        margin-left: 0px;
        
    }
                        
                     
 /* ! --JIGOSHOP BUTTONS ----------------------------------------------*/
                     
    
    .jigoshop #page a.button, .jigoshop #page a.button-alt,.jigoshop  #page button.button, .jigoshop #page input.button, .jigoshop #page input.button-alt{
        margin:0;
        padding: 5px 9px;
        cursor: pointer;
        text-decoration: none;
           -moz-box-sizing: content-box;
           -webkit-box-sizing: content-box;
        box-sizing: content-box;
           -webkit-border-radius: 0px;
           -moz-border-radius: 0px;
        border-radius: 0px;
        color:#000000 !important; 
        text-shadow:0 1px 0 rgba(255,255,255,0.5); 
        border:1px solid #bbbbbb; 
        background:#eeeeee; 
        background:-moz-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc)); 
        background:-webkit-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:-o-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:-ms-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
        background:linear-gradient(top,#ffffff 0%,#dcdcdc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0); 
        -webkit-box-shadow: inset 1px 1px 0px #FFF;
        -moz-box-shadow: inset 1px 1px 0px #FFF;
        box-shadow: inset 1px 1px 0px #FFF;
    } 

    .jigoshop #page a.button:hover, .jigoshop #page a.button-alt:hover, .jigoshop #page button.button:hover, .jigoshop #page input.button:hover { 
        text-decoration: none;
        color:#000000; 
        text-shadow:0 1px 0 rgba(255,255,255,0.5); 
        border:1px solid #aeaeae; 
        background:#e1e1e1; 
        background:-moz-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cfcfcf)); 
        background:-webkit-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:-o-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:-ms-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        background:linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0); 
    } 
    
    .jigoshop #page a.checkout-button,
    .jigoshop #page .button-alt {
        border: 1px solid #BBB;
        background: #EEE;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,gainsboro));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);                            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        border-radius: 0px;
            -webkit-box-shadow: inset 1px 1px 0px white;
            -moz-box-shadow: inset 1px 1px 0px #FFF;
        box-shadow: inset 1px 1px 0px white;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
        box-sizing: content-box;
        color: black !important;
        clear: both;
        cursor: pointer;
        margin: 0 0px 0 0;
        padding: 5px 9px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    
    .jigoshop #page .jigo0shop #page .checkout-button.button-alt {
         margin-top: 0;
         //outline: green solid 1px;
     }
         
     .jigoshop #page a.checkout-button {
         color: $color-primary;
     }
         
     a.button,
     button.button,
     input.button,
     #review_form #submit {
      
          background: $color-primary;
          border: none;
              -webkit-border-radius: 0px;
              -moz-border-radius: 0px;
          border-radius: 3px;
          color: #fff;
          cursor: pointer;
          font-family: inherit;
          float: left;
          font-size: 12px !important;
          line-height: 1em !important;
          margin: 4px 2px 0 0;
          padding: 6px;
          vertical-align: middle !important;
          text-align: center;
          text-decoration: none;      
          width: auto !important;
        }
        
    .jigoshop #page .product a.checkout-button:hover, .jigoshop #page .button-alt:hover {
        
        border: 1px solid #AEAEAE;
        background: #E1E1E1;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#CFCFCF));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);
        background-image: none;
        color: black;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
        
    .jigoshop #page .product a.checkout-button:hover a, 
    .jigoshop #page .button-alt:hover a {
        
        //color: #fff323;
        
    }

        
    a.button:hover,
    button.button:hover,
    input.button:hover,
    #review_form #submit:hover {
      /* background: #ff9933; */
      
      border-color: #e1e1e1;
      background-image: none;
      text-decoration: none;
    }
    
    .cart .button,
    .cart input.button {
      float: none;
    }
    
               
        /* variable option product button */
            .jigoshop #page .product .variations select#sizes,
            .jigoshop #page .product .variations select#sizes option {
                color: $color-primary;
                font-family: georgia;
               // font-size: 12px;
                margin-top: 5px;
            }
        
        /* multi-product button */
         
         .jigoshop #page .products .product a.button,
         .jigoshop #page .products .product a.button-alt {
            background: none;
            cursor: pointer;
            filter: none;
            
            border: none;
                -webkit-border-radius: none;
                -moz-border-radius: none;
            border-radius: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            box-shadow: none;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
            box-sizing: content-box;
            
            //color: $color-primary !important;
            display: block;
            font: inherit;
            
            margin: 0;
            /* outline: green 1px dotted; */
            padding:0;
            
            text-decoration: none;
            text-shadow: none;
            
            }
            
            .jigoshop #page .products .product a.button:hover,
            .jigoshop #page .products .product a.button-alt:hover,
            .jigoshop #page .products .product a.button:active,
            .jigoshop #page .products .product a.button-alt:active {
                text-decoration: underline !important;
            }
            
            .jigoshop #page .products .product a.button:focus,
            .jigoshop #page .products .product a.button-alt:focus {
                //outline: solid 1px #fd9f29;
            }
                        
                        
                /* ! --JIGOSHOP TABS -------------------------------*/
                        
                    div.product #tabs {
                        background-color: inherit;
                        //border-top: solid #111 1px;
                        clear: both;
                        padding: 20px 0;
                        margin: 20px 0;
                        /* outline:solid green thin; */
                        
                    }
                 
                 /* ! --JIGOSHOP FORMS imputs --------------------*/
                     /* imputs */
                    
                    
                    .quantity input.plus, 
                    .quantity input.minus {
                          -webkit-border-radius: 0;
                          -moz-border-radius: 0;
                        border-radius: 0;
                        text-align: center;
                        width: 10px;
                    }
                    
                    form .form-row input.input-text, 
                    #content .form-row input.input-text, 
                    form .form-row textarea, 
                    #content .form-row textarea, 
                    input#coupon_code.input-text, 
                    input.input-text.qty.text {
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                        border-radius:0;
                        /* margin: 4px !important; */
                    }
                    
                    .jigoshop .product form.cart div.quantity {
                        float: left;
                        margin: 8px 0 4px 0 0;
                        padding-top: 8px;
                        padding-bottom: 20px;
                    }
                    
                    .jigoshop .product .quantity input.qty {
                       border: 1px solid $color-primary;
                           -webkit-border-radius: 0;
                           -moz-border-radius: 0;
                        border-radius: 0;
                        display: inline;
                        margin: 4px 4px 4px 1px !important;
                        line-height: 1em !important;
                        vertical-align: middle;
                    }

                    
                    .jigoshop .product .quantity input.plus, 
                    .jigoshop .product .quantity input.minus {
                        display: block; 
                        /* width: 10px; */
                    }
                    
                    /* !                   
                     
/* ! =MEDIA QUERIES --------------------------------------------------------------------*/

    /* !--MINIMUM WIDTH 600PX */
    
    @media screen and (min-width: 600px) {
        .page .page-canvas {
                width: 92%;
                /* outline: orange dotted 1px; */
            }

                    

                    
                    #brandnav .content-pad, 
                    #branding.container {
                        //padding-top: 58px;
                        //padding-bottom: 16px;            
                        //padding-top: 3.625rem;
                        //padding-bottom: 1rem;
                    }
                    
        /* !  --SINGLE IMAGE GALLERY - NGG IMAGEBROWSER  ------------------------------------ */
                

                .single-image-container {
                    margin-bottom: 20px;
                    margin-bottom: 1.25rem;
                    /* outline: dotted red 2px; */
                    position: relative;
                }
                
                


    
             /* ! -KWAKUSHOP - JIGOSHOP  @600 --------------------- */
            #kwakushop-header.container {
                padding-top: 67px;
                padding-bottom: 16px;            
                padding-top: 3.95rem;
                padding-bottom: .85rem;
            }
            
        
        
            /*  ! --JIGOSHOP PRODUCTS */
            .products li a img {
                  max-height: 388px;
                  min-height: 388px;
             }
            
            /*  ! --JIGOSHOP SINGLE PRODUCT */ 
            div.product div.summary {
                width: 30%;
                margin-bottom: 0px; 
                margin-right: 0px;
                float: left;
            }
                
    }


    /*  ! --MINIMUM WIDTH 980PX ---------------------*/
@media screen and (min-width: $bp-large) {
      
     .page-canvas {
            width: 98%;
            max-width: 980px;
            /*margin: 24px auto; 
            margin: 1.5rem auto;  should be 16x1.5/24px */
            /* outline: green dotted 1px; */
        }
        .homepage-thumbs .grid-element.img_grid.pplast,
        .film-thumb-boxes .grid-element.img_grid.pplast {
             //margin-right: 0;
        }
            /* !  --SINGLE IMAGE GALLERY - NGG IMAGEBROWSER  ------------------------------------ */
                #column-main .ngg-imagebrowser-nav {
                    background-color: transparent;
                    border-bottom: none;
                    margin: 0 45%;
                    padding: 0px;
                    position: absolute;
                    top: -3.4em;
                    width: 18%;
                }

                .single-image-container {
                    margin-bottom: 17px;
                    position: relative;
                }
                
                
                .single-image-container .ngg-imagebrowser-desc {
                    bottom: 30px;
                    bottom: 1.9rem;
                    margin: 0 8px;
                    position: absolute;
                    width:98.3656793%
                    
                }
                
                 .ngg-imagebrowser-desc:hover {
                     visibility: visible !important;
                     display: block;
                 }
                
                .ngg-imagebrowser-desc > p {
                    background-color: #fff;
                     color: $color-primary;
                    //font-size: 12px;
                    //font-size: 0.8rem;
                    margin:0;
                    max-width: 100%;
                    padding: 20px;
                    padding: 1.25rem;
                    width:95.8463136%;
                }
             
               
                
                
               
.view-caption-button {
                    cursor: pointer;
                    display: inline;
                    float: left;
                    padding: 20px 8px;
                    padding: 0;
                    position: absolute;
                    visibility: visible;
                } 
                
                .view-caption-button a{
                    color: $color-primary;
                }
                
                .view-caption-button a:hover,
                .view-caption-button.active{
                    color: $color-primary;
                    text-decoration: none;
                }

                    
           
  
                
}    /*  End Originals */