/*		typography.scss

Typography specific styles: */

body {
	line-height: 1.33;
}

body,
button,
input,
select,
textarea {
	@include font-size(1);
	font-family:"ltc-bodoni-175",serif;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
    text-overflow: ellipsis;
}

p {
	margin-bottom: 10px;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	@include font-size(1.5);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	@include font-size(1.5);
}

abbr, acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}


   
