/* 		variables */
$font-primary: "ltc-bodoni-175";


// Breakpoints
$bp-xsmall: 20em;
$bp-small: 30em;
$bp-medium: 44em; //979 -
$bp-large: 60em; //980 +



// Sizing
$font-base: 100%;
$spacing: 1.5625em;
$container-max: 62em;
$grid-margins: 1.4%;



$content-pad: 1em;
$content-nopad: 0;


$text-small: .8em;